:host {
  display: block;
  padding: 3em;
  background: dodgerblue;
  margin-bottom: 4em;
  .header {
    display: flex;
    justify-content: space-between;
  }
  h1 {
    color: #fff;
    font-size: 3rem;
  }
  a {
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
    transition: font-size 0.3s;
    &:hover {
      cursor: pointer;
      font-size: 2.1rem;
    }
  }
  .active-link {
    color: rgb(236, 211, 234);
    text-shadow: 0 0 3px #000;
    font-weight: bold;
    animation: annoyPeople 1s ease-in infinite;
  }

  @keyframes annoyPeople {
    0% {
      font-size: 2.1rem;
    }
    50% {
      font-size: 2rem;
    }
    100% {
      font-size: 2.1rem;
    }
  }
}
