<form class="post-form" (submit)="onPostSave(postForm)" #postForm="ngForm">
  <div class="form-control">
    <input
      id="title"
      type="text"
      name="title"
      #title="ngModel"
      [ngModel]="post?.title"
      required
    />
    <label for="title" class="form-label">Post title...</label>
  </div>
  <div class="form-control">
    <textarea
      name="content"
      #content="ngModel"
      [ngModel]="post?.content"
      required
    ></textarea>
    <label for="title" class="form-label">Write something...</label>
  </div>
  <div class="form-control">
    <button class="btn" type="submit">save post</button>
  </div>
</form>
